@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "shared/variables.css";
@import "shared/sign.css";
@import "shared/navbar.css";
@import "shared/addinfo.css";
@import "shared/navigation.css";
@import "shared/home.css";
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
}
.first-div{
  padding-top: 6em;
  text-align: center;
}

.first-header{
  color:var(--primary-color);
  margin-bottom: 4em;
  font-family: 'Homemade Apple', cursive; 
  font-size: 2em;
}

.first-btn{
  outline: none;
  border: none;
  color:white;
 
  padding-left:30px ;
  padding-right: 30px;
  border-radius: 10px;
  background-color: var(--primary-color);
  transition: ease-in-out 1s;
  box-shadow: 1px 1px grey;
}
.first-btn:hover{
  background-color: white;
  color: var(--primary-color);
  cursor: pointer;
}

.first-word{
  margin-bottom: 5em;
}

.zoom{
  width: 10em;
  display: inline-block;
  
}